<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WM4_PATH</key>
	<string>/Users/sc/GeometricTools/WildMagic4</string>

	<key>SE_PATH</key>
	<string>/Users/sc/Work/SwingEngine</string>
</dict>
</plist>
